<!DOCTYPE html>
<html>
<body>
    <header>  
        <img align="center" src="assets\Images\logo.jpg"  width="250" height="100">
      </header>
<div class="content">
<h2>Database and Web Techniques -  ProxyList Project</h2>
<h3>By Harshitha Rathod </h3>
     <h3>& </h3>
     <h3> Surya Kiran Suravarapu
        </h3>
</div>
    <footer>
            <div align="right">
                <button color="white" variant="contained"  (click)="next();">
                    ProxyLists
            </button>
        </div>
        </footer>


</body>


</html>
